Repository algorand/py-algorand-sdk, pull requests merged in 2023-06, with the labels that each got.

#497 CICD: Release PR Creation Workflow and Slack Messaging
  .circleci/config.yml
  .github/workflows/create-release-pr.yml
  scripts/bump_version.py
Labels: Enhancement

#499 algod: Add msgpack query param to deltas endpoints
  algosdk/v2client/algod.py
  tests/steps/other_v2_steps.py
Labels: Enhancement

#500 CICD: Move slack messaging to github actions
  .circleci/config.yml
  .github/workflows/create-release-pr.yml
Labels: Team Hyper Flow, Skip-Release-Notes

#501 CICD: Remove Reviewers
  .github/workflows/create-release-pr.yml
Labels: Skip-Release-Notes

#485 other: Ignore formatting commits in git blame
  .circleci/config.yml
  .git-blame-ignore-revs
Labels: Enhancement

#504 CICD: Fix typos and add team label to release PR workflow
  .github/workflows/create-release-pr.yml
  scripts/bump_version.py
Labels: Skip-Release-Notes
